{% import 'macro' as macro %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link 
        rel="shortcut icon" 
        type="image/x-icon" 
        href="https://z3.ax1x.com/2021/10/29/5OWL2n.png"
        media="screen" 
    />
    <title>程序员福音</title>
</head>
<body>
{% for chart in charts %}
    {% if chart._component_type in ("table", "image") %}
        {{ macro.gen_components_content(chart) }}
    {% else %}
        {{ macro.render_chart_content(chart) }}
    {% endif %}
{% endfor %}
</body>
</html>
